<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sdk" >

    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <application
        >

    </application>
</manifest>
